body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(weatherimage.png);
}

#main_container {
  position: relative; /* Relative to contain its children */
  height: 100vh; /* Define height for the container */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#phone {
  height: 100vh;
  position: absolute; /* Positioned to overlap with container */
  z-index: 1; /* Ensure phone is beneath container */
}

.container {
  position: absolute; /* Positioned to overlap with phone */
  text-align: center;
  /* height: 75vh; */
  width: 17%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 2; /* Ensure container is on top of phone */
  background-color: #6ce0ed;
}

.search-container {
  margin-bottom: 20px;
}

#city-input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-btn {
  padding: 10px;
  margin: 20px;
  border: none;
  border-radius: 4px;
  background: #007BFF;
  color: #fff;
  cursor: pointer;
}

#search-btn:hover {
  background: #0056b3;
}

#weather-info {
  margin-top: 20px;
}
